<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Messages : View</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/sockjs.js}"></script>
    <script th:src="@{/js/stomp.js}"></script>
</head>
<body>
           <table>
               <thead>
                  <tr>
                     <th>user:</th>
                  </tr>
               </thead>
             <tbody th:remove="all-but-first" id="tbody">
                   <tr th:each="user : ${users}">
                       <td th:text="${user.username}"></td>
                       <td>
                           <input type="button" value="delete" th:onclick="'javascript:toDelete('+${user.id}+');'" />
                       </td>
                   </tr>
            </tbody>
           </table>

<form action="#" th:action="@{/olymtech_user}"  method="post" id="saveForm">
    username : <input type="text" name="username"/>
    <input type="button" value="toSave" onclick="toSave()"/>
</form>




<script>

    var stompClient = null;

    //连接服务器的函数
    function connect() {
        var socket = new SockJS('/coordination');
        stompClient = Stomp.over(socket);
        stompClient.connect('', '', function (frame) {
            console.log('Connected: ' + frame);
            //用户聊天订阅
            var coordinationId = "18";
            stompClient.subscribe('/userChat/chat' + coordinationId, function (chat) {
                showChat(JSON.parse(chat.body));
            });

        }, function () {
            connect();
        });
    }

    function toSave(){

        var $form = $('#saveForm');

        $.ajax( {
            type : 'post',
            data : $form.serializeArray(),
            url : $form.attr("action"),
            dataType : 'json',
            cache: false,
            success : function(data) {

                if(data.state == "success"){

                    var tables = "";

                    $(data.rows).each(function(i,val) {
                        tables += "<tr>";
                        tables += "<td>";
                        tables += val.username;
                        tables += "</td>";
                        tables == "</tr>";

                        $('input[name="username"]').val("");

                    });

                    $("#tbody").html(tables);
                }else{
                    alert("操作失败");
                }

            },
            error : function() {
                alert("error");
            }
        });
    }


    function toDelete(id){

        $.ajax( {
            type : 'delete',
            url : '/olymtech_user?id='+id,
            dataType : 'json',
            cache: false,
            success : function(data) {

                if(data.state == "success"){

                    var tables = "";

                    $(data.rows).each(function(i,val) {
                        tables += "<tr>";
                        tables += "<td>";
                        tables += val.username;
                        tables += "</td>";
                        tables == "</tr>";

                    });

                    $("#tbody").html(tables);
                }else{
                    alert("操作失败");
                }

            },
            error : function() {
                alert("error");
            }
        });
    }

    var countdown=60;
    function settime(val) {
        if (countdown == 0) {
            val.removeAttribute("disabled");
            val.value="免费获取验证码";
            countdown = 60;
        } else {
            val.setAttribute("disabled", true);
            val.value="重新发送(" + countdown + ")";
            countdown--;
        }
        meter = setTimeout(function() {
            settime(val)
        },1000)
    }

    function stop(val){

        settime(val);

        var input = $('#chat_input');
        var inputValue = input.val();
        input.val("");
        var coordinationId = "18";
        stompClient.send("/app/userChat", {}, JSON.stringify({ 'name': encodeURIComponent("John"),
            'chatContent': encodeURIComponent(inputValue),
            'coordinationId': coordinationId}));
    }

    //显示聊天信息
    function showChat(message) {
        if(typeof(meter) != "undefined"){
            clearTimeout(meter);

            document.getElementById("btn").removeAttribute("disabled");
            document.getElementById("btn").value="免费获取验证码";
            countdown = 60;
        }

        var response = document.getElementById('chat_content');
        response.value += decodeURIComponent(message.name) + ':' + decodeURIComponent(message.chatContent) + '\n';
        stompClient.disconnect();
    }


    $(function () {

        connect();

    });


</script>

<input type="text" id="message"/>
           <input type="button" id="btn" value="免费获取验证码" onclick="settime(this)" />

<input type="button" id="stop" value="停止倒计时" onclick="stop(document.getElementById('btn'))"/>

           <input type="text" id="chat_input"/>
<input type="text" id="chat_content"/>

</body>
</html>